*.mat
*.png
*.jpeg
*.jpg
*.paint
*.mov
*.npy
*.ipynb
*.iMovieMobile
*.iMovie
*.mp4
*.mp3
*.JPG
*.JPEG
*.PNG
*.docx
*.pptx
The Icons GES_Title Apr 8, 2024.pdf
The Icons GES_Title Apr 8, 2024_compressed.pdf
OverviewConformalGeometryProcessing
vanKaick10.pdf
**/.claude/settings.local.json
