<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.golden-enterprises.thependulum</string>
    
    <key>CFBundleName</key>
    <string>The Pendulum</string>
    
    <key>CFBundleDisplayName</key>
    <string>The Pendulum</string>
    
    <key>CFBundleVersion</key>
    <string>3</string>
    
    <key>CFBundleShortVersionString</key>
    <string>1.1</string>
    
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    
    <key>UIMainStoryboardFile</key>
    <string></string>
    
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
        <key>UISceneConfigurations</key>
        <dict>
            <key>UIWindowSceneSessionRoleApplication</key>
            <array>
                <dict>
                    <key>UISceneConfigurationName</key>
                    <string>Default Configuration</string>
                    <key>UISceneDelegateClassName</key>
                    <string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
                </dict>
            </array>
        </dict>
    </dict>
    
    <key>UIApplicationDelegateClassName</key>
    <string>$(PRODUCT_MODULE_NAME).AppDelegate</string>
    
    <key>UIStatusBarHidden</key>
    <true/>
    
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
    
    <key>NSUserTrackingUsageDescription</key>
    <string>This app would like to track your activity across other apps and websites to provide personalized experiences and improve our services. Your data helps us understand how you interact with the app and deliver better content.</string>
    
</dict>
</plist>